.page{
    text-align: center;
    background: linear-gradient(to right, #e7e81d, #e8701b);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 500px;
    flex-direction: column;
}
