.page{
    text-align: center;
    background: #ffc466;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 500px;
    flex-direction: column;
}
