.section {
    padding-left: 18px;
    padding-right: 18px;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.section__title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 28px;
    letter-spacing: -0.04em;
    font-weight: 400;
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

@media (min-width: 768px) {
    .section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .section__title {
        font-size: 22px;
        line-height: 27px;
        padding: 0 0 23px;
    }
}

@media (min-width: 1280px) {
    .section {
        padding-left: 70px;
        padding-right: 70px;
    }
}
