.calculator {
    background-color: rgb(233, 168, 57);
    width: 250px;
    height: 160px;
    color: black;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 25px 22px;
    justify-content: space-between;
  }

  .calculator:last-child{
    flex-direction: column;
    justify-content: center;
  }